# === every ===
.env
*.log
logs/
.DS_Store

# === shared ===
/shared/node_modules/
# === Frontend ===
/frontend/node_modules/
/frontend/dist/
/frontend/dist-ssr/
/frontend/*.local
/frontend/.env

# VS Code (allow recommended extensions)
/frontend/.vscode/*
!/frontend/.vscode/extensions.json

# === Backend ===
/backend/node_modules/
/backend/.env
/backend/dist/

# Editor + IDEs
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Optional: skip system junk
Thumbs.db

